@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в сайта на хотел"Мираж"</h1>
    <style>
        h1 {
            color: palevioletred;
            font-size: 50px;
            margin: 0px;
            text-align: center;
        }
        body {
            background-color: #f0f3f2;
        }
    </style>
    <br />
    <br />
    <p>
        Хотел „Мираж“ е малък семеен хотел в курортния град Созопол.
        Намира се на около 30 км от най-големия град на Черноморието - Бургас.
        Хотела се нуждае от уеб сайт, чрез който да направи резервирането на стая/стаи в хотела достъпно и удобно за туристите.
        Сред тази картина хотелът изпъква със своето модерно излъчване и предлага на своите посетители перфектно съчетание от лукс,
        хармония и изтънченост на вкусове и усещания.
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
